body
  background-color: #000
  color #000
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  .container
     background: transparent url(frontal.png) no-repeat
     width: 408px
     height: 837px;
     position relative
     color #fff
     font-size: 2em

     .screen-item  
       position absolute
       width: 352px
       height: 68px
       background #1f1f55
       border 1px solid #fff
       top: 100px;
       left: 28px;
       text-align right
       span
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translateX(-50%) translateY(-50%); 
       .error
         color: #f00;
         border: 1px solid;
         /* padding: 10px 60px; */
         border-radius: 5px;
         display: block;
         width: 73%;
         font-size: 1em;
         text-align: center;

     .touche__box
       position: relative;
       top: 74px;
       left: 27px;
       span
         //transform: translate(-50%, -50%)
         width: 100%
         height: 100%
         display: block
         text-indent: 32px;
         line-height: 3;
       .touche__box-item
         width: 85px
         height: 96px
         background-color: red
         float: left
         position relative
         margin 2px
       .clear-item   
         //position absolute
         width: 173px
         height: 95px
         background #1f1f55
         border 1px solid #fff
         float: left
         position relative
         margin 2px
         span
           text-indent: 53px;
           line-height: 3;

       .zero-item
         width: 174px
         height: 96px
         span
           text-indent: 79px
       .zero-item, .un-item
         position: relative;
         margin-top: -97px;
       .equal-item 
         width: 85px
         height: 96px
         background-color: red
         float: left
         position relative
         margin 2px
         height: 194px;
         span
           line-height: 6
       .clearme
         clear: both;
  div
    padding-top: 2em

